body{
	margin: 0;
}
.red{
	width: 200px;
	height: 200px;
	background-color: red;
	position: absolute;
	top: 400px;
	left: 400px;
}
.blue{
	width: 200px;
	height: 200px;
	background-color: blue;
	position: absolute;
	top: 200px;
	left: 200px;
}
.yellow{
	width: 200px;
	height: 200px;
	background-color: yellow;
	position: absolute;
	top: 0;
}