<style>
			body {background-color: #7FFFD4;
				 }

			hr {background-color: transparent;
				border-color: grey;
				border-style: none;
				border-top-style:dotted;
				border-width: 7px;
				width: 5%;}
			h1{color: Green;}
</style>