.timer-box, .timer {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 7px;
}

.timer-box {
    margin-top: 25%;
}

.buttons {
    margin: 1rem;
    text-align: center;
}

button{
    margin: 6px;
}